.features__wrapper {
  background: url(../img/bg-triangle-white.svg) no-repeat;
  background-color: rgb(242, 242, 242);
}

.features__title h2 {
  color: @color-dark-blue;
  text-align: center;
  font-weight: 300;
  font-size: @font-size-bigger;
  line-height: @line-height-32;
}

.features__item-title {
  color: @color-black;
  font-size: @font-size-big;
  font-weight: 700;
  line-height: @line-height-24;
  margin-bottom: 15px;
}

.features__item-description {
  color: @color-dark-blue;
  font-size: @font-size-normal;
  font-weight: 400;
}

