.main-nav__item {
  border-bottom: 1px solid @color-black;
  font-size: @font-size-big;
  line-height: @line-height-32;
  text-transform: uppercase;

  &:first-child {
    border-top: 1px solid @color-black;
  }
}

.main-nav__item a {
  &:hover {
    color: @color-pink;
  }

  &:active {
    color: @color-pink-active;
  }
}

.main-nav__toggle {
  background: url("../img/icon-menu-burger.svg") no-repeat;
  border: none;
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.main-nav__wrapper {
  min-width: 320px;
}

.main-nav__site-list {
  display: block;
  position: absolute;
}
