.price {
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-color: rgb(242, 242, 242);
}

.price-table {
  border: 1px solid rgb(242, 242, 242);
}

.price-table__header {
  background-color: @color-dark-blue;
}
